In [1]:
import pandas as pd
import matplotlib.pylab as plt
%matplotlib inline

In [2]:
df_votes = pd.read_pickle('./votes.pkl')

## Explore the data

This dataset contains a number of Israeli settlements (cities, vilages, towns..) and their votings in the 2016 parliamentary elections in Israel

In [3]:
# Q1.1
# print the head of the Dataframe
df_votes.head()

,NAME,ID,POTENTIAL_VOTERS,VOTES,SPOILT_VOTES,LEGAL_VOTES,אמת,ג,ודעם,ז,...,ני,נץ,ע,פה,ף,ףץ,קנ,קץ,רק,שס
0,תל אביב - יפו,5000,403338,263205,1860,261345,89567,2628,8488,9,...,32,34,132,30241,105,124,2667,2906,209,10189
1,ירושלים,3000,385888,258879,3593,255286,24696,53948,3148,10,...,16,54,215,10752,37,148,1619,18330,121,30579
2,חיפה,4000,243274,151318,1758,149560,37805,4894,12363,24,...,12,16,103,16826,40,87,1596,1648,142,3342
3,ראשון לציון,8300,195958,138998,1188,137810,31492,924,86,8,...,16,16,5,19953,26,68,1821,2258,121,4095
4,פתח תקווה,7900,177367,125633,1223,124410,22103,4810,85,8,...,13,14,9,14661,15,65,1224,3227,74,6946

In [7]:
# Q1.2
# Sort the cities by the total number of votes
cities_by_votes = df_votes.sort_values(by='VOTES', ascending=False)[['NAME','VOTES']]
cities_by_votes.head()

            NAME   VOTES
0  תל אביב - יפו  263205
1        ירושלים  258879
2           חיפה  151318
3    ראשון לציון  138998
4      פתח תקווה  125633

In [5]:
# Q1.3
# Create a new column named "voter_turnout"  which represents the percentage of eligible - 
# - voters who cast a ballot in an election in each settelment
df_votes['voter_turnout'] = df_votes['VOTES'] / df_votes['POTENTIAL_VOTERS']
df_votes[['NAME','voter_turnout']].head()

            NAME  voter_turnout
0  תל אביב - יפו       0.652567
1        ירושלים       0.670866
2           חיפה       0.622006
3    ראשון לציון       0.709325
4      פתח תקווה       0.708322

In [ ]:
# Q1.4
# Calculate the total vote each party got in the election, save it to a pd.Series object
votes =

## Clean the data

In [ ]:
# EXAMPLE: votes.drop('NAME', inplace=True)

In [ ]:
# Q2.1 
# Clear from the data, columns of parties that reviceved less than 40,000 votes.
# You can use the "drop" method

In [ ]:
# In Israel, אמת is the symbol for the labor party, and מחל is the symbol of the liberal-national party
# Q2.2
# find the "labor advantage" in each settelment - 
# which is the sum of votes for אמת minus the sum of votes for מחל devided by total voters

## Add datasets

Another dataset provided is the socioeconomic rank of Israeli settelments

In [ ]:
df_rank = pd.read_pickle('./socio_economy.pkl')

In [ ]:
# Q3.1
# Again print the head of df_rank

In [ ]:
# Q3.2
# Merge the two dataframes, use the setetlment name as a key

We also provide religion data regarding settelments

In [ ]:
df_religion = pd.read_pickle('./religion.pkl')

In [ ]:
# This dataset contains a lot of missing values. Find a clever way of filling out the missing values if possible.

In [ ]:
df_religion.merge(df_votes)

## Predict

In [ ]:
# Extract features and try to predict the labor advantage, dont use any parrt votes (its overfitting)
# Dont forget to split to train and test

## Extra

watch this video: <a href="https://www.youtube.com/watch?v=Q2cUoglR1yk"> youtube </a>
<br>
Now, let's examine the numbers behind this declaration

In [ ]:
# Extra.1
# Calculate the voter turnout of muslim settlements vs jewish settlements. Were Arabs really flocking to the ballots?

In [ ]:
# Extra.2
# Create a scatter plot, showing the "labor advantage" vs socioeconomic status, color by the religion of the settelment.
# Were arabs voting for left wing parties in masses? Who did vote for left wing parties?